<h1>Import Chat Transcripts</h1>

<%= form_with url: import_chat_transcripts_path, local: true, multipart: true do |form| %>
  <div class="field">
    <%= form.label :file, "CSV File" %>
    <%= form.file_field :file %>
  </div>
  <div class="actions">
    <%= form.submit "Import CSV" %>
  </div>
<% end %>
