.dashboard_container{
    display: flex;
    background: rgb(33, 33, 33) !important;
    color: rgb(245, 245, 245);
    text-align: center;
    width: 100vw !important;
    min-height: 100vh !important;
    align-items:center !important;
    flex-direction: column;
    padding: 0px  !important;
    margin: 0px !important;
    overflow:  hidden !important;
    padding-top: 30px !important;
    padding-bottom: 30px;
}

.first-group{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between !important;
    padding-right: 30px;
    padding-left: 30px;
    align-items: center;
    flex-wrap: wrap;
}
 


.dash-card-one{
    display: flex;
    flex-direction: column;
    width: 275px;
    height: 200px;
    border-radius: 10px;
    background-color: #3D3E3E;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
}

.dash-card-two{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-color: #3D3E3E;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.dash-card-three{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    border-radius: 10px;
    background-color: #3D3E3E;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.dash-card-four{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #3D3E3E;
    color: whitesmoke;
    margin-bottom: 25px;
}

.dash-text-one{
    font-size: 18px;
    padding: 5px;
}

.dash-text-two{
    font-size: 32px;
    font-weight: bold;
    padding: 5px;
}

.dash-text-three{
    font-size: 11px;
    padding: 5px;
}

.dash-col-wrap{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.dash-col{
    display: flex;
    padding: 30px;
    align-items: flex-start;
    flex-direction: column;
}

.dash-case-warp{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    background-color: rgba(211, 211, 211, 0.3);
    padding: 3px;
    border-radius: 7px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.dash-case-warp:hover {
    background-color: rgba(211, 211, 211, 0.6); /* Change background color on hover */
    color: black;
    font-weight: 600;
    transform: scale(1.05); /* Slightly scale up the element on hover */
}

.dash-case-warp:active {
    background-color: rgba(211, 211, 211, 0.8); /* Change background color on click */
    transform: scale(0.95); /* Slightly scale down the element on click */
}

.dash-case-warp.no-active:active {
    background-color: rgba(211, 211, 211, 0.6); /* Change background color on hover */
    color: black;
    font-weight: 600;
    transform: scale(1.05); /* Slightly scale up the element on hover */
}

.dash-case-title-warp{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    background-color: rgba(211, 211, 211, 0.9);
    padding: 3px;
    border-radius: 7px;
    color: black;
    font-weight: 600;
}

.btn-audit{
    background-color: rgba(15, 10, 222, 0.6);
    padding: 3px;
    border-radius: 5px;
    width: 15%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-audit:hover {
    background-color: rgba(1, 1, 112, 0.8);
}

.btn-audit:active {
    transform: scale(0.95);
}



@media (max-width: 768px) {
    .dashboard_container{
        min-height:  -webkit-fill-available !important;
    }
    
}